---
layout: contact
---

<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
<body>
    {% include header.html %}

<div class="cf clouds">
    <div class="content cf">
        <header class="title">
            <h1 class="">Contact</h1>
        </header>

        <div class="cf centerblock">
            <p>Indien u een fout heeft gezien of een suggestie heeft voor een nieuwe feature, laat het ons zeker weten via onderstaand contactformulier.</p>          
        

            <div class="">
                <form>
                    <p><label for="fname">Voornaam</label></p>
                    <input type="text" id="fname" name="firstname" placeholder="Uw naam..."></br>

                    <p><label for="lname">Familienaam</label></p>
                    <input type="text" id="lname" name="lastname" placeholder="Familienaam ..."></br>

                    <p><label for="email">E-mail</label></p>
                    <input type="text" id="email" name="email" placeholder="E-mail ..."></br>

                    <p><label for="subject">Onderwerp</label></p>
                    <textarea id="subject" name="subject" placeholder="Uw bericht ..." style="height:200px"></textarea></br>

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}